/*

GianDC Portfolio

  01. GENERAL CSS
  02. HEADER CSS
  03. SOCIAL ICONS CSS
  04. WELCOME BLOCK CSS
  05. ABOUT BLOCK CSS
  06. SERVICES BLOCK CSS
  07. WORK BLOCK CSS
  08. CONTACT BLOCK CSS
  09. TESTIMONOALS BLOCK CSS
  10. SKILLS BLOCK CSS


==================================================*/

/*==============================================
 GENERAL CSS
================================================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html {
    height: 100vh;
    overflow: hidden;
}

body {
    font: 16px / 1.6 'Raleway', Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    background: #222;

    scroll-snap-type: y mandatory;
    overflow-y: scroll;
       max-height: 100vh;
   /*  flex-basis: 50%;
 
     */

}

.container-fluid {
    padding: 0 20px;
}

#header {
    padding: 20px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}



.navbar {
    padding: 0;
}

a#logo {
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-toggle {
    display: none;
}

.navbar-nav {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.navbar-nav li {
    margin-left: 30px;
}

.navbar-nav li.active a {
    opacity: 1;
}

.navbar-nav li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    opacity: 0.9;
}



.videoBG {
    position: fixed;
    z-index: -1;
}

#myVideo {
    min-width: 100%;
    min-height: 100%;
}

.videoBG:before {
    padding: 0;
    content: "";
    opacity: 0.75;

    background: rgb(17,30,52);
    background: linear-gradient(to top, rgba(17,30,52,1) 0%, rgba(33,110,176,1) 50%, rgba(84,177,218,1) 100%); 
    background: -moz-linear-gradient(to top, rgba(17,30,52,1) 0%, rgba(33,110,176,1) 50%, rgba(84,177,218,1) 100%); 
    background: -webkit-linear-gradient(to top, rgba(17,30,52,1) 0%, rgba(33,110,176,1) 50%, rgba(84,177,218,1) 100%); 

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#39ced6',GradientType=0 );
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.scroll-body {


    display: contents;
  }

  .scroll-section {
    scroll-snap-align: start;
    max-height: 100%;
    height: 100vh;
  }








.services-list .service-item {
    background-color: rgba(250, 250, 250, 0.25);
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.services-list .service-item:hover {
    background-color: #fff;
    color: #1e1e1e;
}

.service-box {
    font-size: 15px;
    padding: 40px 20px;
    height: 100%;
}

.service-icon {
    display: block;
    margin: 0 auto 0;
    font-size: 64px;
}


.service-box h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
    padding: 10px;
}




  #social-icons {
    padding: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 199;
}


.about-contentbox {
    margin-top: 80px;
    text-align: left;
    line-height: 1.8;
}

.about-contentbox span {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
}
.about-contentbox h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
}

figure img {
    border: 0;
    max-width: 100%;
    max-height: 80vh;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .3);
    box-shadow: 0 0 40px rgba(0, 0, 0, .3);
}